*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: rgb(55, 206, 211);
}
.navbar ul{
    display: flex;
    list-style: none;
    max-width: 100%;
}
.navbar ul li {
    padding: 15px 26px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 27px;
    color:  #050531;
}

.area{
    height: 102vh;
    background-color: #93f1f4;
}
#form{
    display: flex;
    flex-direction: column;
}
#textarena{
    border: 1px solid #37ced3;
    border-radius: 3px;
    outline: none;
    resize: none;
    margin: 10px 7%;
    background-color: #c9fdfe;
}
.btn{
    margin:0% 41%;
    padding: 2px 0px;
    font-size: 20px;
    color:  #050531;
    border: 2px solid #050531;
    background-color: aqua;
    border-radius: 3px;
    cursor: pointer;
}

@media only screen and (max-width:580px) {
    .navbar ul li {
        padding: 15px 6px;
    }
    .navbar ul li a {
        font-size: 19px;
    }
    .btn{
        margin: 0% 24%;
    }
}